//Vars
$color-dark: #212121;
$color-light: #F8F8FF;
$primary-border: 1px solid $color-dark;
$tr-time: 0.4s;
$primary-font: "Inter", sans-serif;
$grid-gap: 1rem;
$bp-desktop-sm: 1100px;
$bp-tablet: 768px;


//Global
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $color-light;
  font-family: $primary-font;
  font-optical-sizing: auto;
  font-size: 16px;
  color: $color-dark;
  margin: 0;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 1rem 0 0;
}

.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (min-width: $bp-desktop-sm) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

//Utilities
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}

//Buttons
.btn {
  align-items: center;
  border: $primary-border;
  color: $color-dark;
  display: flex;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.1rem;
  line-height: 1;
  min-width: 160px;
  overflow: hidden;
  padding: .5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $tr-time ease, 
  color $tr-time ease;
  width: 100%;

  &::before {
    background: $color-dark;
    content: '';
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: left $tr-time ease;
    width: 100%;
    z-index: 0;
  }

  span {
    display: block;
    position: relative;
    z-index: 1;
  }

  svg {
    margin-left: 0.5rem;
    position: relative;
    left: 0;
    transition: left $tr-time ease;
    width: 1.5rem;
    z-index: 1;
  }

  @media screen and (min-width: $bp-tablet) {
    width: auto;
  }

  &:hover {
    color: #FFF;

    &::before {
      left: 0;
    }
    
    svg {
      left: 0.25rem;
    }
  }
}

//Header
.header {
  position: relative;

  &::after {
    animation-name: width100;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    background: $color-dark;
    bottom: 0;
    content: '';
    height: 3px;
    position: absolute;
    width: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  h1, h2 {
    margin: 0;
  }

  &__titles {
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__links {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
      width: auto;
    }
  }
}

//Intro
.intro {
  .container {
    padding-top: 2.5rem;
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

//Work 
.work {
  .container {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__card-container {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: 1fr;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-desktop-sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  &__card {
    border: $primary-border;
    padding: 1.75rem 1.25rem 7rem;
    position: relative;
    width: 100%;

    figure {
      background: $color-dark;
      border: $primary-border;
      margin: 0 auto;
      height: 200px;
      width: 100%;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    h4 {
      margin: 1.5rem 0 0;
      padding-bottom: 1rem;
      position: relative;

      &::after {
        bottom: 0;
        background: $color-dark;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 20%;
      }
    }

    p {
      line-height: 1.5rem;
    }

    .btn {
      bottom: 2rem;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 90%;
    }
  }
}

//Footer
.footer {
  margin-top: 2.5rem;
  padding-bottom: 7.5rem;

  hr {
    background: $color-dark;
    border: 0;
    height: 3px;
  }
}

@keyframes width100 {
  0% { width: 0px; }
  100% { width: 100%; }
}
